body{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
  overflow:hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  touch-action: none;
}
*{
  overflow:hidden;
}
#header{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#title{
  font-size:32px;
}
#row_buttons{
  display:flex;
  align-items: center;
  cursor:pointer;
}
#row_buttons div:active{
  background:#ddd;
}
.button{
  display:flex;
  align-items: center;
}


#stage_container{
  height:95vw;
  width:95vw;
  max-height:500px;
  max-width:500px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
#stage{
  height:calc(95vw - 40px);
  width:calc(95vw - 40px);
  max-height:460px;
  max-width:460px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.row{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  font-size:20px;
  font-weight:bold;
}
.cell{
  margin:2px;
  height:calc(95vw/5 - 12px);
  width:calc(95vw/5 - 12px);
  max-height:88px;
  max-width:88px;
  border-radius:8px;
  background:#ccc;
  cursor:pointer;
}
#piece{
  position:absolute;
  height:calc(95vw/5 - 12px);
  width:calc(95vw/5 - 12px);
  max-height:88px;
  max-width:88px;
  border-radius:50%;
  background:#08088A;
  color:white;
  transition: all 0.2s;

  display:flex;
  justify-content: center;
  align-items: center;
}
#plus{
  background:#2E64FE;
  color:white;
}
#minus{
  background:#FF0040;
  color:white;
}
#times{
  background:#FE9A2E;
  color:white;
}
#divided{
  background:#3ADF00;
  color:white;
}
#plus,#minus{
  height:calc(95vw - 40px);
  max-height:460px;
  width:20px;
  border-radius:4px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#times,#divided{
  height:20px;
  width:calc(100% - 40px);
  max-width:460px;
  border-radius:4px;
  display:flex;
  justify-content: center;
  align-items: center;
}


.numerator,.denominator{
  position:absolute;
  height:calc(95vw/10 - 6px);
  width:calc(95vw/10 - 6px);
  max-height:44px;
  max-width:44px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.numerator {
  top:4px;
  left:4px;
}
.denominator {
  top:min(calc(95vw/10 - 10px), 40px);
  left:min(calc(95vw/10 - 10px), 40px);
}
.divide {
  /*   font-size: 2rem; */
}


#keyboard{
  display:grid;
  position:absolute;
  background:#555;
  height:180px;
  width:90vw;
  max-width:480px;
  left:0;
  right:0;
  bottom:-180px;
  margin:auto;
  transition: all 0.2s;
}

#keyboard div{
  background:#bbb;
  margin:3px;
  border-radius:2px;
  width:calc(90vw/5 - 8px);
  max-width:80px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
}

#key_left {
  grid-row: 1/5;
  grid-column: 1;
}

#key_7{
  grid-row: 1;
  grid-column: 2;
}
#key_8{
  grid-row: 1;
  grid-column: 3;
}
#key_9{
  grid-row: 1;
  grid-column: 4;
}
#key_back{
  grid-row: 1;
  grid-column: 5;
}
#key_4{
  grid-row: 2;
  grid-column: 2;
}
#key_5{
  grid-row: 2;
  grid-column: 3;
}
#key_6{
  grid-row: 2;
  grid-column: 4;
}
#key_1{
  grid-row: 3;
  grid-column: 2;
}
#key_2{
  grid-row: 3;
  grid-column: 3;
}
#key_3{
  grid-row: 3;
  grid-column: 4;
}
#key_0{
  grid-row: 4;
  grid-column: 3;
}
#key_enter{
  grid-row: 2/5;
  grid-column: 5;
}
#key_left{
  background:initial !important;
  cursor:initial !important;
}

#keyboard div:active{
  background:#888;
}
