<!doctype html>
<html lang="ja">
<head>
    <title>VS POKEMON WORDLE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="static/js/script.js" charset="shift_jis"></script>
    <link href="static/img/32.png" rel="icon shortcut" sizes="3232">
    <link href="static/img/192.png" rel="apple-touch-icon">
</head>
<body>
    <div id="header_container">
        <div id="header">VS POKEMON WORDLE</div>
    </div>
    <div id="header_container2">
        <div>
            <p class="info">現在の接続者数<span id="user_count"></span>人</p>
            <!--<p id="id1"></p>-->
            <!--<p id="id2"></p>-->
            <p id="player" class="info"></p>
            <p id="turn" class="info"></p>
        </div>
        <input id="btn_end" type="button" value="RESET" class="btn" disabled="disabled">
    </div>
    <div id="board_container">
        <div id="board_l" class="board">
            <div class="player">Player1</div>
            <div id="answer_l" class="answer row">
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
            </div>
            <div id="predict_l_container" class="predict">
            </div>
        </div>
        <div id="board_r" class="board">
            <div class="player">Player2</div>
            <div id="answer_r" class="answer row">
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
                <div class="tile"></div>
            </div>
            <div id="predict_r_container" class="predict">
            </div>
        </div>
    </div>

    <div id="input_container">
        <div>
            <input id="txt_poke_name" class="textbox" type="text" placeholder="ポケモンの名前" />
            <input id="btn" type="button" value="ENTER" class="btn">
        </div>
    </div>

    <div id="battle_start_container" class="collapse">
        <div id="battle_start" class="transparent">
            BATTLE START
        </div>
    </div>

    <div id="msg_container" class="collapse">
        <div id="msg" class="transparent">
        </div>
    </div>
</body>
</html>