<!doctype html>
<html lang="ja">
<head>
    <title>VS Pokémon Wordle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="相手のポケモンを予想して当てる「Wordle」風 対戦ゲーム。">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://kit.fontawesome.com/f1fd2cf3a8.js" crossorigin="anonymous"></script>
    <link href="static/img/32.png" rel="icon shortcut" sizes="3232">
    <link href="static/img/192.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="static/css/style.css?20220220-09">
    <script src="static/js/script.js?20220220-09" charset="shift_jis"></script>

    <!-- FB Meta Tags -->
    <meta property="og:url" content="https://www.vs-pokemon-wordle.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="VS Pokémon Wordle">
    <meta property="og:description" content="対戦型ポケモンワードル">
    <meta property="og:site_name" content="VS Pokémon Wordle">
    <meta property="og:image" content="https://vs-pokemon-wordle.herokuapp.com/static/img/192.png">
    <meta property="og:local" content="ja_JP">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@YottyPG">
    <meta name="twitter:description" content="相手のポケモンを予想して当てる「Wordle」風 対戦ゲーム。">
    <meta name="twitter:title" content="VS Pokémon Wordle">
    <meta name="twitter:image" content="https://vs-pokemon-wordle.herokuapp.com/static/img/192.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KP8MHDTX4E"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('settings', 'G-KP8MHDTX4E');
    </script>
</head>
<body>
    <div id="header_container">
        <div id="header">VS POKEMON WORDLE</div>
        <div id="header_icons">
            <div id="header_btn_help" class="material-icons-outlined btn_help btn_icon">help_outline</div>
            <div id="header_btn_settings" class="material-icons-outlined btn_settings btn_icon">settings</div>
        </div>
    </div>
    <div id="header_container2">
        <div id="header_container2-2">
            <input id="btn_exit" type="button" value="EXIT" class="btn" disabled="disabled">
            <div id="room_info_container">
                <p id="room_info" class="info"></p>
                <a id="twitter" class="fa-brands fa-twitter-square snsicon collapse" href="https://twitter.com/intent/tweet?text=部屋コード%0a{room_code}%0a%0ahttps://www.vs-pokemon-wordle.com/?room_code={room_code}%0a%0a&hashtags=VsPokemonWordle" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"></a>
                <a id="line" class="fa-brands fa-line snsicon collapse" href="http://line.me/R/msg/text/?部屋コード%0a{room_code}%0a%0ahttps://www.vs-pokemon-wordle.com/?room_code={room_code}" target="_blank" rel="noopener noreferrer"></a>
            </div>
            <input id="btn_reset" type="button" value="RESET" class="btn" disabled="disabled">
        </div>
    </div>

    <!--<div id="login_container" class="modal_container" style="display:none">-->
    <div id="login_container" class="modal_container">
        <div class="gray_container">
        </div>

        <div id="login" class="modal">
            <div id="login_icons">
                <div id="login_btn_help" class="material-icons-outlined btn_help btn_icon">help_outline</div>
                <div id="login_btn_settings" class="material-icons-outlined btn_settings btn_icon">settings</div>
            </div>
            <input id="txt_user_name" class="textbox login_obj" type="text" name="user_name" placeholder="ユーザー名" maxlength="8" />
            <input id="txt_room_code" class="textbox login_obj" type="number" name="room_code" placeholder="4桁の部屋コード" oninput="slice_max_length(this, 4)" pattern="\d*" value={{ room_code }}>
            <input id="btn_join" type="submit" value="JOIN" class="btn login_obj">
        </div>
    </div>

    <div id="board_container">
        <div id="yajirushi_container">
            <img id="img_yajirushi" src="static/img/yajirushi.png">
        </div>
        <div id="board_l" class="board">
            <div id="player1_name_contanier" class="player_name_contanier">
                <div id="player1_name" class="player"></div>
            </div>
            <div id="answer_l" class="answer row_l">
                <div class="tile answer_tile"></div>
                <div class="tile answer_tile"></div>
                <div class="tile answer_tile"></div>
                <div class="tile answer_tile"></div>
                <div class="tile answer_tile"></div>
                <div id="upper_answer_l" class="upper_anser transparent">答えを見る</div>
            </div>
            <div id="predict_l_container" class="predict">
            </div>
        </div>
        <div id="board_r" class="board">
            <div id="player2_name_contanier" class="player_name_contanier">
                <div id="player2_name" class="player"></div>
            </div>
            <div id="answer_r" class="answer row_r">
                <div class="tile answer_tile"></div>
                <div class="tile answer_tile"></div>
                <div class="tile answer_tile"></div>
                <div class="tile answer_tile"></div>
                <div class="tile answer_tile"></div>
                <div id="upper_answer_r" class="upper_anser transparent">答えを見る</div>
            </div>
            <div id="predict_r_container" class="predict">
            </div>
        </div>
    </div>


    <div id="footer_flick">
        <div class="input_container">
            <div id="input_container_flick">
                <div id="input_tile_row">
                    <div class="tile answer_tile blank_tile"></div>
                    <div class="tile answer_tile blank_tile"></div>
                    <div class="tile answer_tile blank_tile"></div>
                    <div class="tile answer_tile blank_tile"></div>
                    <div class="tile answer_tile blank_tile"></div>
                </div>
            </div>
        </div>

        <div id="kb_container1">
            <div id="kb_container2">
                <div class="kb_input">
                    <div class="kb_key_shadow kb_key_shadow_u">
                        <div class="kb_key_flick kb_key_u transparent"></div>
                    </div>
                    <div class="kb_key_shadow kb_key_shadow_d">
                        <div class="kb_key_flick kb_key_d transparent"></div>
                    </div>
                    <div class="kb_key_shadow kb_key_shadow_l">
                        <div class="kb_key_flick kb_key_l transparent"></div>
                    </div>
                    <div class="kb_key_shadow kb_key_shadow_r">
                        <div class="kb_key_flick kb_key_r transparent"></div>
                    </div>

                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ウ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">イ</div>
                                <div class="kb_key_item">ア</div>
                                <div class="kb_key_item">エ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">オ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ク</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">キ</div>
                                <div class="kb_key_item">カ</div>
                                <div class="kb_key_item">ケ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">コ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ス</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">シ</div>
                                <div class="kb_key_item">サ</div>
                                <div class="kb_key_item">セ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ソ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>

                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ツ</div>
                                <div class="kb_key_item">ッ</div>
                                <div class="kb_key_item">チ</div>
                                <div class="kb_key_item">タ</div>
                                <div class="kb_key_item">テ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ト</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ヌ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ニ</div>
                                <div class="kb_key_item">ナ</div>
                                <div class="kb_key_item">ネ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ノ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">フ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ヒ</div>
                                <div class="kb_key_item">ハ</div>
                                <div class="kb_key_item">ヘ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ホ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>


                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ム</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ミ</div>
                                <div class="kb_key_item">マ</div>
                                <div class="kb_key_item">メ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">モ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ユ</div>
                                <div class="kb_key_item">ュ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ヤ</div>
                                <div class="kb_key_item">ャ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ヨ</div>
                                <div class="kb_key_item">ョ</div>
                            </div>
                        </div>
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ル</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">リ</div>
                                <div class="kb_key_item">ラ</div>
                                <div class="kb_key_item">レ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ロ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>

                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div id="kb_key_switch" class="kb_key kb_key_no_input">
                                <div id="kb_key_switch1">゛゜</div>
                                <div id="kb_key_switch2">小</div>
                            </div>
                        </div>
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ン</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ワ</div>
                                <div class="kb_key_item">ー</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">2</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">♀</div>
                                <div class="kb_key_item">♂</div>
                                <div class="kb_key_item">Z</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kb_sub kb_sub1">
                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ゥ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ィ</div>
                                <div class="kb_key_item">ァ</div>
                                <div class="kb_key_item">ェ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ォ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">グ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ギ</div>
                                <div class="kb_key_item">ガ</div>
                                <div class="kb_key_item">ゲ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ゴ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ズ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ジ</div>
                                <div class="kb_key_item">ザ</div>
                                <div class="kb_key_item">ゼ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ゾ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ヅ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ヂ</div>
                                <div class="kb_key_item">ダ</div>
                                <div class="kb_key_item">デ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ド</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kb_sub kb_sub2">
                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div id="kb_key_bs" class="kb_key kb_key_no_input">
                                <div id="kb_btn_bs" class="material-icons-outlined kb_btn">backspace</div>
                            </div>
                        </div>
                    </div>
                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ブ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ビ</div>
                                <div class="kb_key_item">バ</div>
                                <div class="kb_key_item">ベ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ボ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div class="kb_key kb_key_no_input">
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">プ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ピ</div>
                                <div class="kb_key_item">パ</div>
                                <div class="kb_key_item">ペ</div>
                                <div class="kb_key_item" style="border:none"></div>
                                <div class="kb_key_item">ポ</div>
                                <div class="kb_key_item" style="border:none"></div>
                            </div>
                        </div>
                    </div>
                    <div class="kb_row">
                        <div id="kb_key_container">
                            <div id="kb_key_enter" class="kb_key kb_key_no_input">
                                <div id="kb_btn_enter" class="kb_btn">ENTER</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="footer_text">
        <div class="input_container">
            <div id="input_container2">
                <input id="txt_poke_name" class="textbox" type="text" placeholder="ポケモンの名前" maxlength="5" disabled />
                <input id="btn_enter" type="button" value="ENTER" class="btn" disabled>
            </div>
        </div>

        <div id="table_50on">
            <div id="table_50on2">
                <div class="table_50on_column">
                    <div class="kb_key_item">ア</div>
                    <div class="kb_key_item">イ</div>
                    <div class="kb_key_item">ウ</div>
                    <div class="kb_key_item">エ</div>
                    <div class="kb_key_item">オ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">カ</div>
                    <div class="kb_key_item">キ</div>
                    <div class="kb_key_item">ク</div>
                    <div class="kb_key_item">ケ</div>
                    <div class="kb_key_item">コ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">サ</div>
                    <div class="kb_key_item">シ</div>
                    <div class="kb_key_item">ス</div>
                    <div class="kb_key_item">セ</div>
                    <div class="kb_key_item">ソ</div>

                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">タ</div>
                    <div class="kb_key_item">チ</div>
                    <div class="kb_key_item">ツ</div>
                    <div class="kb_key_item">テ</div>
                    <div class="kb_key_item">ト</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">ナ</div>
                    <div class="kb_key_item">ニ</div>
                    <div class="kb_key_item">ヌ</div>
                    <div class="kb_key_item">ネ</div>
                    <div class="kb_key_item">ノ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">ハ</div>
                    <div class="kb_key_item">ヒ</div>
                    <div class="kb_key_item">フ</div>
                    <div class="kb_key_item">ヘ</div>
                    <div class="kb_key_item">ホ</div>

                </div>
                <div class="table_50on_column">

                    <div class="kb_key_item">マ</div>
                    <div class="kb_key_item">ミ</div>
                    <div class="kb_key_item">ム</div>
                    <div class="kb_key_item">メ</div>
                    <div class="kb_key_item">モ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">ヤ</div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item">ユ</div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item">ヨ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">ラ</div>
                    <div class="kb_key_item">リ</div>
                    <div class="kb_key_item">ル</div>
                    <div class="kb_key_item">レ</div>
                    <div class="kb_key_item">ロ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">ワ</div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item">ン</div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item">ー</div>
                </div>
            </div>

            <div id="table_50on2">
                <div class="table_50on_column">
                    <div class="kb_key_item">ァ</div>
                    <div class="kb_key_item">ィ</div>
                    <div class="kb_key_item">ゥ</div>
                    <div class="kb_key_item">ェ</div>
                    <div class="kb_key_item">ォ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">ガ</div>
                    <div class="kb_key_item">ギ</div>
                    <div class="kb_key_item">グ</div>
                    <div class="kb_key_item">ゲ</div>
                    <div class="kb_key_item">ゴ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">ザ</div>
                    <div class="kb_key_item">ジ</div>
                    <div class="kb_key_item">ズ</div>
                    <div class="kb_key_item">ゼ</div>
                    <div class="kb_key_item">ゾ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">ダ</div>
                    <div class="kb_key_item">ヂ</div>
                    <div class="kb_key_item">ヅ</div>
                    <div class="kb_key_item">デ</div>
                    <div class="kb_key_item">ド</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item">ッ</div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item transparent"></div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">バ</div>
                    <div class="kb_key_item">ビ</div>
                    <div class="kb_key_item">ブ</div>
                    <div class="kb_key_item">ベ</div>
                    <div class="kb_key_item">ボ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">パ</div>
                    <div class="kb_key_item">ピ</div>
                    <div class="kb_key_item">プ</div>
                    <div class="kb_key_item">ペ</div>
                    <div class="kb_key_item">ポ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">ャ</div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item">ュ</div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item">ョ</div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">♂</div>
                    <div class="kb_key_item">♀</div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item transparent"></div>
                </div>
                <div class="table_50on_column">
                    <div class="kb_key_item">2</div>
                    <div class="kb_key_item">Z</div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item transparent"></div>
                    <div class="kb_key_item transparent"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="battle_start_container" class="collapse">
        <div id="battle_start" class="transparent">
            BATTLE START
        </div>
    </div>

    <div id="msg_container" class="collapse">
        <div id="msg" class="transparent">
        </div>
    </div>

    <div id="opponent_exit_container" class="modal_container transparent">
        <div class="gray_container">
        </div>

        <div id="opponent_exit" class="modal">
            <div id="opponent_exit_msg"><span class="material-icons icon">report_problem</span>対戦相手が退出しました</div>
            <input id="btn_opponent_exit" type="submit" value="OK" class="btn login_obj">
        </div>
    </div>


    <div id="help_container" class="modal_container transparent">
        <div class="gray_container">
        </div>

        <div id="help" class="modal window">
            <div id="help_header" class="window_header">
                <div id="help_btn_close" class="material-icons-outlined window_btn_close">close</div>
                <div id="help_header_title" class="window_header_title">HOW TO PLAY</div>
            </div>
            <div id="help_body" class="window_body">
                <div class="help_msg">相手のポケモンを当てる対戦型Wordleです。</div>

                <div class="help_msg_subject">ログインの仕方</div>
                <div class="help_msg">好きな「ユーザー名」と「4桁の部屋コード」を入力</div>
                <div class="help_msg">ログイン後、「Twitter」または「LINE」で知り合いに部屋コードを共有</div>

                <div class="help_msg_subject">ポケモンを決める</div>
                <div class="help_msg">まずは相手に当てさせる5文字のポケモンを決めよう</div>
                <div class="help_msg">第8世代(剣盾)のポケモンまで対応</div>
                <div class="help_msg">2人がポケモンを決めたら対戦開始！</div>

                <div class="help_msg_subject">勝敗の決め方</div>
                <div class="help_msg">先に相手のポケモンを当てたほうが勝ち</div>
                <div class="help_msg">先攻プレイヤーがポケモンを正解しても、同じターンで後攻プレイヤーも正解すれば引き分け</div>

                <div class="help_msg_subject">お問い合わせ</div>
                <a class="help_msg" href="https://twitter.com/YottyPG" target="_blank" rel="noopener noreferrer">@YottyPG</a>
                <div class="help_msg">要望やバグ報告などあれば、こちらのTwitterアカウントまでお気軽にご連絡ください。</div>

                <div class="help_msg_subject">更新履歴</div>
                <div class="help_msg"><a href="https://qiita.com/YottyPG/items/c4488fef8ad09024a181" target="_blank" rel="noopener noreferrer">こちらの記事</a>からご確認ください。</div>
            </div>
        </div>
    </div>

    <div id="settings_container" class="modal_container transparent">
        <div class="gray_container">
        </div>

        <div id="settings" class="modal window">
            <div id="settings_header" class="window_header">
                <div id="settings_btn_close" class="material-icons-outlined window_btn_close">close</div>
                <div id="settings_header_title" class="window_header_title">SETTINGS</div>
            </div>
            <div class="settings_body_container window_body">
                <div id="settings_body">
                    <div class="settings_msg_subject">ハイコントラストモード</div>
                </div>
                <div id="tgl_high_contrast_mode" class="toggle">
                    <input id="chk_high_contrast_mode" type="checkbox" name="check" />
                </div>
            </div>
            <div id="example_tiles_container">
                <div class="example_obj">文字:○</div>
                <div class="example_obj">文字:○</div>
                <div class="example_obj">文字:<span style='font-feature-settings:"fwid" on;'>×</span></div>
                <div class="example_obj">位置:○</div>
                <div class="example_obj">位置:<span style='font-feature-settings:"fwid" on;'>×</span></div>
                <div class="example_obj">位置:<span style='font-feature-settings:"fwid" on;'>×</span></div>

                <div id="example_row">
                    <div class="tile answer_tile"></div>
                    <div class="tile answer_tile"></div>
                    <div class="tile answer_tile"></div>
                </div>
            </div>

            <div class="settings_bar"></div>
            <div class="settings_body_container window_body">
                <div id="settings_body">
                    <div class="settings_msg_subject">フリック入力</div>
                </div>
                <div id="tgl_flick" class="toggle">
                    <input id="chk_flick" type="checkbox" name="check" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>