<!doctype html>
<html lang="ja">
<head>
    <title>VS POKEMON WORDLE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="static/js/script.js" charset="shift_jis"></script>
    <link href="static/img/32.png" rel="icon shortcut" sizes="3232">
    <link href="static/img/192.png" rel="apple-touch-icon">
</head>
<body>
    <div id="header_container">
        <div id="header">VS POKEMON WORDLE</div>
    </div>
    <div id="login_container">
        <form id="login" action="/game" method="POST">
            <input id="txt_name" class="textbox login_obj" type="text" name="user_name" placeholder="ユーザ名" maxlength="8" />
            <input id="txt_room_code" class="textbox login_obj" type="text" name="room_code" placeholder="4桁の部屋コード" maxlength="4" />
            <input id="btn" type="submit" value="JOIN" class="btn login_obj">
        </form>
    </div>


    <div id="battle_start_container" class="collapse">
        <div id="battle_start" class="transparent">
            BATTLE START
        </div>
    </div>

    <div id="msg_container" class="collapse">
        <div id="msg" class="transparent">
        </div>
    </div>

    <div id="gray_container">
    </div>
</body>
</html>